<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="https://image.flaticon.com/icons/png/512/857/857455.png" type="image/x-icon">
    <link rel="stylesheet" href="css/account.css" type="text/css">
    <title>SportBook</title>
</head>

<body>
    <img class='image' src='img/Баскетбол.jpg'>
    <div class='layer'></div>
    <div class='header'></div>
    <div class='content-container' style='margin-top: 0px;'>
        <div class='information-container'>
            <div class='settings-container'>
                <h2>Виды спорта<br>(обязательно)</h2>
                <div class="settings">
                    <div class="plus-button-container">
                        <a class="plus-button" href="/here/should/be/link">Плюс</a>
                    </div>
                    <div class="cards-container">

                    </div>
                    <div class="submit-container">
                        <button type="submit">Подтвердить</button>
                    </div>
                </div>
            </div>
            <div class="settings-container">
                <h2>Личная информация<br>(не обязательно)</h2>
                <div class="settings">
                    <form class="add-info" method="POST" name="add-info">
                        <label>Имя
                            <input class="add-info-input" name="name" type="text">
                        </label>
                        <label>Аватар
                            <input class="add-info-input" name="avatar" type="file">
                        </label>
                        <label>Возраст
                            <input class="add-info-input" name="age" type="text">
                        </label>
                        <div class="buttons-container">
                            <button class="add-info-button" type="submit">Подтвердить</button>
                            <button class="add-info-button" type="reset">Сбросить</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <script>
        // Исправление отступа от header
        const headerHeight = document.getElementsByClassName('header')[0].clientHeight + 'px';
        document.getElementsByClassName('content-container')[0].style.marginTop = headerHeight;
    </script>
    <script src="js/accChanges.js"></script>
    <script src="js/accPrefers.js"></script>
</body>

</html>