<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="homestyle.css">
    <title>Sportbook</title>
</head>

<body>
    <img id='image' src='img/Баскетбол.jpg'>
    <div id='layer'></div>
    <div id="content-container">
        <div>
            <h2>Welcome to the Sportbook</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis commodo, enim quis maximus finibus, mi orci sodales velit, mattis vestibulum velit eros in elit. Pellentesque volutpat, mi sit amet sagittis hendrerit, nisl erat semper odio, ut ultrices arcu leo vitae nisl. In imperdiet et ipsum vel blandit. Suspendisse rutrum risus et ullamcorper posuere. Ut venenatis hendrerit lacus ac tempor. Duis nec libero id elit gravida varius. In at facilisis nisl, sed cursus magna.</p>
        </div>
        <div id='instructions'></div>
    </div>
</body>

</html>