<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="css/style.css">
    <title>Document</title>
</head>
<body>
    <img id='image' src="https://images.wallpaperscraft.ru/image/basketbol_myach_basketbolnoe_pole_120082_1920x1080.jpg">
    <div id="autorize-container"></div>
        <div class="security-container" style="margin-top: -109px;">
            <input type="email" class="security" placeholder="Введите ваш адресс эл. почты">
        </div>

        <div class="security-container" style="margin-top: -62px;">
            <input type="password" class="security" placeholder="Пароль">
        </div>

        <div class="security-container" style="margin-top: -15px;">
            <input type="password" class="security" placeholder="Повторите пароль">
        </div>

        <div class="button-container" style="margin-top: 47px;">
            <input type="button" class="button" value="Подтвердить">
        </div>
    </div>
    <script src="js/changeImg.js"></script>
</body>
</html>