<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="css/signupstyle.css">
    <link rel="shortcut icon" href="https://image.flaticon.com/icons/png/512/857/857455.png" type="image/x-icon">
    <title>Sportbook</title>
</head>

<body>
    <img id='image' src='img/Баскетбол.jpg'>
    <div id='layer'></div>
    <div id="content-container">
        <span id='title' style='margin-top: -156px;'>Регестрация</span>
        <div class="error-container" style="margin-top: -79px;">
            <span class="error-label"></span>
        </div>
        <form id='reg' class='form' action="http://localhost:8080/regestration" name='registerForm' method="POST"></form>
        <div class="security-container" style="margin-top: -109px;">
            <input type="email" name='email' form="reg" class="security" id="email"
                placeholder="Введите ваш адресс эл. почты">
        </div>

        <div class="security-container" style="margin-top: -62px;">
            <input type="password" name='password1' form="reg" class="security" id="password1" placeholder="Пароль">
        </div>

        <div class="security-container" style="margin-top: -15px;">
            <input type="password" name='password2' form="reg" class="security" id="password2"
                placeholder="Повторите пароль">
        </div>
        <div class="button-container" style='margin-top: 47px;'>
            <a form='reg' id='submit' class="button">Подтвердить</a>
        </div>
    </div>
    <!-- <script src="js/changeImg.js"></script> -->
    <script src="js/loginCheck.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
</body>

</html>