body {
    background-color: black;
    margin: 0;
}

* {
    font-family: 'Lucida Sans';
}

h2, p {
    text-align: center;
    color: black;
}

p, span {
    font-size: 16pt;
}

#image {
    position: absolute;
    filter: blur(4px);
    width: 100%;
    height: 100%;
}

#layer {
    position: absolute;
    width: 100%;
    height: 100%;
}

#header {
    z-index: 1;
    position: fixed;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background-color: lightgrey;
    width: 1000px;
    height: 7%;
}

#entrance-container {
    display: flex;
    justify-content:space-around;
    width: 15%;
    height: 40%;
}

#content-container {
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    position: absolute;
    width: 1000px;
    height: 93%;
    background-color: white;
}

.error-container {
    position: absolute;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    right: 0;
    left: 0;
    width: 50%;
    height: 2%;
}

.error-label {
    -moz-user-select: none;
	-khtml-user-select: none;
	user-select: none;
}

#about-container {
    display: flex;
    justify-content: space-around;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    margin-top: 8%;
    right: 0;
    left: 0;
    width: 80%;
    height: 40%;
}

#offers-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 50%;
    height: 100%;
}

.offer-case {
    width: 100%;
    height: 48%;
}

.offer-image {
    position: absolute;
    z-index: 1;
    box-sizing: border-box;
    border: 2px solid black;
    filter: blur(2px);
    width: 50%;
    height: 48%;
}

.offer-text{
    box-sizing: border-box;
    border: 2px solid black;
    position: absolute;
    z-index: 2;
    width: 50%;
    height: 48%;
}

.special-word {
    font-weight: bold;
    font-style: italic;
}


.button-container {
    position: relative;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10%;
    left: 0;
    right: 0;
}

.button {
    color: black;
    background-color: rgba(0, 0, 0, 0);
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 5px;
    padding: 2%;
    border: 2px solid black;
    transition: 250ms;
}
.button:hover {
    background-color: black;
    color:white;
}

#info {
    width: 40%;
    height: 100%;
}

#info-image {
    position: absolute;
    z-index: 1;
    box-sizing: border-box;
    border: 2px solid black;
    filter: blur(2px);
    width: 40%;
    height: 100%;
}

#info-text {
    box-sizing: border-box;
    border: 2px solid black;
    display: flex;
    flex-direction: column;
    justify-content:center;
    position: absolute;
    z-index: 2;
    width: 40%;
    height: 100%;
}