<footer id="footer"  class="mt-10">
    <div class="h-28 flex flex-row justify-evenly items-center bg-black text-white">
        <p>Email: andreygl2014@gmail.com</p>
        <p>Phone: +1 (904) 789 94 88<br />Andrey Glukhov</p>
    </div>
</footer>