<% if (user) { %>
<div class="flex flex-row items-center absolute right-3" onclick="location.href='/profile'">
    <div id="profile-widget">
        <p class="navbar-button text-xl mr-5"><%= user.name %></p>
        <img src="<%= user.picture %>" alt="" class="w-10 h-10 rounded-full">
    </div>
</div>
<% } %>